@page
@model NapocaBike.Pages.BikeRentals.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BikeRental[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BikeRental[0].Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BikeRental[0].BikesAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BikeRental[0].EmptySpaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BikeRental[0].Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BikeRental[0].Longitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BikeRental) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BikesAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmptySpaces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
